{
  "presets": [
    "es2016",
    "flow",
    "react"
  ],
   "env": {
    "test": {
      "presets": [["env", {
        "modules": "commonjs"
      }]]
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    "transform-runtime"
  ]
}
